engine-strict=true
node-options=--max_old_space_size=8192
scripts-prepend-node-path=true

# Disable telemetry, noisy crap and other non-essential features
fund=false
update-notifier=false
loglevel=notice

# Dependency layout (bit tidier and faster to resolve)
prefer-dedupe=true
install-strategy=hoisted
